body {
  font-family: 'Quattrocento', serif;
  background-color: #8eb7f3;
}

header {
  padding: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #151724;
  text-align: center
}

div {
  color: #151724;
}

.nav {
  margin: auto;
  max-width: 400px;
  padding: 10px;
  text-align: center
}

.center {
  margin: auto;
  max-width: 400px;
  padding: 0px;
  text-align: center
}

.nav li{
  display:inline;
}
.nav a{
  display:inline-block;
  padding:10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8eb7f3;
}

li a {
  display: inline;
  color: #151724;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #759dda;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}
