body {
  font-family: 'Quattrocento', serif;
  background-color: #fcba7c;
}

header {
  padding: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #333855;
  text-align: center
}

/* h3 {
  padding: 0px;
  padding-top: 5px;
  border: 0px;
  margin: 0px;
} */

div {
  color: #333855;
}

.center {
  margin: auto;
  max-width: 400px;
  padding: 10px;
  text-align: center
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}
