<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h3>Freddie & Luke's Wedding</h3>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/details">Details</a></li>
      <li><a href="/registry">Registry</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <p style="margin-top: 50px">
      Details to follow.
    </p>
    <img src="/static/images/21.26.41-4.jpeg" alt="more photos">
    <img src="/static/images/21.26.42.jpeg" alt="more photos">
    <img src="/static/images/21.26.43-3.jpeg" alt="more photos">
    <img src="/static/images/21.26.43-5.jpeg" alt="more photos">
    <img src="/static/images/21.26.43.jpeg" alt="more photos">
    <img src="/static/images/21.26.44-3.jpeg" alt="more photos">
    <img src="/static/images/21.26.44-4.jpeg" alt="more photos">
    <img src="/static/images/21.26.44-5.jpeg" alt="more photos">
    <img src="/static/images/21.26.44-6.jpeg" alt="more photos">
    <img src="/static/images/21.26.44-7.jpeg" alt="more photos">
    <img src="/static/images/21.26.44.jpeg" alt="more photos">
    <img src="/static/images/21.26.45-2.jpeg" alt="more photos">
    <img src="/static/images/IMG_0471.jpg" alt="more photos">
    <img src="/static/images/IMG_0502.jpg" alt="more photos">
    <img src="/static/images/IMG_0532.jpg" alt="more photos">
    <img src="/static/images/IMG_2134.jpg" alt="more photos">
    <img src="/static/images/IMG_2664.jpg" alt="more photos">
    <img src="/static/images/IMG_2981.jpg" alt="more photos">
    <img src="/static/images/IMG_3061.jpg" alt="more photos">
    <img src="/static/images/IMG_3115.jpg" alt="more photos">
    <img src="/static/images/IMG_3666.jpg" alt="more photos">
    <img src="/static/images/engaged.jpg" alt="more photos">
  </div>

</body>
</html>
