<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="https://storage.googleapis.com/fluke2022-content/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/details">Details</a></li>
      <li><a href="/rsvp">RSVP</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/travel">Travel</a></li>
      <li><a href="/eatingdrinking">Eating & Drinking</a></li>
      <li><a href="/registry">Registry</a></li>
      <li><a href="/weddingparty">Wedding Party</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <img src="https://storage.googleapis.com/fluke2022-content/images/merchanttaylor.jpeg" alt="Merchant Taylors' Hall, Threadneedle Street" style="max-width:800px; width:auto">

    <h2>Order of the Day</h2>
    <div style="display: inline-block; text-align: left; border-style: double">
      <p style="margin: 30px;">4.00pm - Ceremony</p>
      <p style="margin: 30px;">4.30pm - Reception</p>
      <p style="margin: 30px;">6.00pm - Wedding breakfast</p>
      <p style="margin: 30px;">8.30pm - Music & dancing</p>
      <p style="margin: 30px;">1.00am - Carriages</p>
    </div>
    <br>
    <h2>Location</h2>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.9499171806324!2d-0.08728174840416612!3d51.5141348179313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876035327a1d67d%3A0x60a62162e2268053!2sMerchant%20Taylors%E2%80%99%20Hall!5e0!3m2!1sen!2suk!4v1634384794561!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <p><br>
    Merchant Taylors' Hall is a beautiful Elizabethan building in the bustling, historic Square Mile. It's home to one of the great twelve livery companies of the City of London. Located on Threadneedle Street, it's nestled between the grand old buildings of the Bank of England and the Royal Exchange, and the shining skyscrapers of Bishopsgate.
    </p>
    <h2>Getting there</h2>
    <p>
     Parking is prety limited - we recommend getting a taxi, or the Underground to Bank station or Liverpool Street. If you do need to park nearby, check <a href="https://en.parkopedia.co.uk/parking/near/merchant-taylors-hall-1/">Parkopedia</a> to see available car parks.
    </p>

    <h2>Dress code</h2>
    <p>
    Black tie - your choice of dinner suit (tuxedo) or a black suit with bow tie, or a long dress. It's what the location deserves!
    </p>
    <h2>Photos</h2>
    <p>If you post photos from the day, tag them with <b>#fluke2022</b>!</p>
  </div>

</body>
</html>
