<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="https://storage.googleapis.com/fluke2022-content/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/rsvp">RSVP</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/travel">Travel</a></li>
      <li><a class="active" href="/eatingdrinking">Eating & Drinking</a></li>
      <li><a href="/registry">Registry</a></li>
      <li><a href="/weddingparty">Wedding Party</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <p>If you need inspiration, here are some of our favourite places.</p>
    
    <h2>Eating</h2>
    <p><a href="https://g.page/smokestak?share">Smokestak</a> in Shoreditch is one of our favourite places for delicious meaty goodness.</p>
    <p><a href="https://goo.gl/maps/pMAoKgkFjMWAcPmd6">Dean Street Townhouse</a> is a fun place for great British food in sophisticated surrounds, in the culinary heart of London's West End, Soho.</p>
    <p>We also love <a href="https://g.page/zedel?share">Brasserie Zédel</a> for great French food at reasonable prices. It's got Art Deco vibes with a fun, buzzing atmosphere.</p>

    <h2>Drinking</h2>
    <p><a href="https://goo.gl/maps/PtRoDjctHtEzaWS28">The Ned</a> is a fun place for a classy drink in a former banking hall (just down the road from the wedding venue) - it's also a hotel if you fancy splashing out. There's often live music too.</p>
    <p>Not with any connection to the brother of the bride, <a href="https://goo.gl/maps/V1DZgPZSn3QNQgav5">St Swithin's Wine Bar</a> (open Mon-Fri) is tucked away on the lane of the same name.</p>
    <p>In Soho, <a href="https://goo.gl/maps/yy89JWRNjJHBNTN78">Cafe Boheme</a> is a French-style bistro with excellent cocktails.</p>
    <p>For a late night cocktail, <a href="https://g.page/discountsuitco?share">Discount Suit Company</a> is a speakeasy bar with fantastic drinks.</p>
</div>

</body>
</html>
