<!DOCTYPE html>
<html lang="en">
<head>
  <title>fluke2022</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h3>fluke2022</h3>
  </header>
  
  <div class="center">
    <hr class="center", style="border: 1px solid #626aa3; width: 400px; padding: 0px; margin: 0px">
    <p style="margin-top: 50px">
      Freddie and Luke are engaged!
    </p>
    <p style="margin-top: 30px">
        Watch this space...
    </p>
  </div>

</body>
</html>
