<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="https://storage.googleapis.com/fluke2022-content/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <!-- <div class="center"> -->
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/rsvp">RSVP</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/travel">Travel</a></li>
      <li><a href="/eatingdrinking">Eating & Drinking</a></li>
      <li><a href="/registry">Registry</a></li>
      <li><a href="/weddingparty">Wedding Party</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <h2 style="margin-top: 50px">
      Freddie and Luke are Getting Married!
    </h2>

    <img src="https://storage.googleapis.com/fluke2022-content/images/willymoumbrella.jpg" alt="happy couple under an umbrella">

    <p style="margin-top: 30px">
      30th of April 2022
    </p>
    <p style="margin-top: 10px">
      Merchant Taylors' Hall, City of London
    </p>
    <p style="margin-top: 30px">
      <a href="mailto:wedding@fluke2022.uk">wedding@fluke2022.uk</a>
    </p>
    <p style="margin-top: 30px">
      <i>"They slipped briskly into an intimacy from which they never recovered."</i>
    </p>
    <p style="margin-top: -10px; font-size: 12px">
    - F. Scott Fitzgerald, <i>This Side of Paradise</i>
    </p>
</body>
</html>
