<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="https://storage.googleapis.com/fluke2022-content/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/rsvp">RSVP</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/travel">Travel</a></li>
      <li><a href="/eatingdrinking">Eating & Drinking</a></li>
      <li><a class="active" href="/registry">Registry</a></li>
      <li><a href="/weddingparty">Wedding Party</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <img src="https://storage.googleapis.com/fluke2022-content/images/IMG_2215.jpg" alt="Dubrovnik">

    <p style="margin-top: 50px">
    If you are kindly thinking of giving us a gift, we have set up a <a href="https://prezola.com/wishlists/10241113/">registry</a> with some lovely things we hope to do on our honeymoon. We love travelling, and plan to spend two weeks in the Caribbean, enjoying some sun (Luke from the shade of course) and eating lots of nice food. There are also some carefully chosen, more traditional wedding gift suggestions.
    </p>
    <p>
    <a href="https://prezola.com/wishlists/10241113/">Click here to go to the registry on Prezola.</a>
    </p>
    <p>
    Thank you!
    </p>

  </div>

</body>
</html>
