<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h3>Freddie & Luke's Wedding</h3>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a class="active" href="/registry">Registry</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <p style="margin-top: 50px">
      Registry arriving soon.
    </p>

  </div>

</body>
</html>
