<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="/static/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/registry">Registry</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a class="active" href="/rsvp">RSVP</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeJmoodHMufxYOA77E6ynG3U7ypbYEpMB_koYph9LRr65tCwg/viewform?embedded=true" width="640" height="976" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>

</body>
</html>
