<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="https://storage.googleapis.com/fluke2022-content/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/registry">Registry</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/rsvp">RSVP</a></li>
      <li><a class="active" href="/travel">Travel</a></li>
      <li><a href="/eatingdrinking">Eating & Drinking</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <h2>International travel</h2>
    For those travelling from outside the UK, please check the latest government requirements <a href="https://www.gov.uk/guidance/travel-to-england-from-another-country-during-coronavirus-covid-19">here.</a>

    <h2>Hotels near the venue</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d4965.836192545035!2d-0.0871806!3d51.5147186!3m2!1i1024!2i768!4f13.1!2m1!1shotels!5e0!3m2!1sen!2suk!4v1642258037832!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <h2>Hotels near the Feelys'</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4967.952859917513!2d-0.1513599956732491!3d51.495300015732084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shotels!5e0!3m2!1sen!2suk!4v1642258348334!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    
    <h2>Things to do</h2>
    <p>Merchant Taylors' Hall is in the middle of the <a href="https://goo.gl/maps/YJ7R5bK9qGYjvzVe8">City of London</a>, which has over 2000 years of history. St Paul's Cathedral and the Tower of London sit at opposite ends of the "Square Mile".</p>
    <p>Beyond the City (only a small part of small-c city), there's far too much to do for us to list here - check out <a href="https://www.timeout.com/london/things-to-do/101-things-to-do-in-london">Time Out</a> for a great (and long) list.</p>
  </div>

</body>
</html>
