<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freddie & Luke's Wedding</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <a href="/"><img style="max-height: 200px" src="https://storage.googleapis.com/fluke2022-content/images/Logo.png" alt="FL logo"></a>
  </header>
  
  <div class="center">
    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">

    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/details">Details</a></li>
      <li><a href="/rsvp">RSVP</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/travel">Travel</a></li>
      <li><a href="/eatingdrinking">Eating & Drinking</a></li>
      <li><a href="/registry">Registry</a></li>
      <li><a class="active" href="/weddingparty">Wedding Party</a></li>
    </ul>

    <hr style="border: 1px solid #333855; padding: 0px; margin: 0px">
    <p>Heidi and Murray - Freddie's parents</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/heidi_murray.jpeg" alt="more photos">
    <p>Ray and Caroline - Luke's parents</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/ray_caroline.jpeg" alt="more photos">
    <p>Jojo - Freddie's sister and Best Woman</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/jojo.jpeg" alt="more photos">
    <p>Swithin - Freddie's brother</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/swithin2.jpeg" alt="more photos">
    <p>Katie - Luke's sister</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/katie.jpeg" alt="more photos">
    <p>Emma - Maid of Honour</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/emma.jpeg" alt="more photos">
    <p>Megan - bridesmaid</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/megan.jpeg" alt="more photos">
    <p>Aaron and Rob - Best Men</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/rob_aaron.jpeg" alt="more photos">
    <p>Patrick McKeown (Pops) - Freddie's grandfather</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/pops2.jpeg" alt="more photos">
    <p>Father Michael - officiant</p>
    <img src="https://storage.googleapis.com/fluke2022-content/images/fathermichael.jpeg" alt="more photos">

  </div>

</body>
</html>
